* {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    flex-direction: column;
    background-color: beige;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 10vh;
}

.mid-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 168, 193);
    height: 60vh;
}

.bottom-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 168, 193);
    height: 30vh;
}

.tac-grid {
    display: grid;
    grid-template: 150px 150px 150px / 150px 150px 150px;
}

.new-game {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin: 10px;
}

.status {
    font-weight: bold;
    font-size: 15px;
}

.content {
    display: flex;
    align-self: center;
}

/* border nonsense below */

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
    border: 1.5px solid black;
    background-color: rgb(193, 168, 193);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;

}

.one {
    border-top: none;
    border-left: none;
}

.two {
    border-top: none;
}

.three {
    border-top: none;
    border-right: none;
}

.four {
    border-left: none;
}

.six {
    border-right: none; 
}

.seven {
    border-left: none;
    border-bottom: none;
}

.eight {
    border-bottom: none; 
}

.nine {
    border-right: none;
    border-bottom: none;
}
